.commandcode/
build/
.dart_tool/
.idea/
*.iml
.DS_Store
flutter_*.png
*.lock
*.log
.metadata
**/android/gradle/
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/
**/macos/.symlinks/
**/windows/flutter/
**/linux/flutter/
test/
assets/frames/
assets/screen_recording.mp4
